In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
atp = pd.read_csv('atp_tennis.csv')

df = pd.DataFrame(atp)

df['player1_win'] = (df['Winner'] == df['Player_1']).astype(int)


encoded_df = pd.get_dummies(df[['Tournament','Series','Surface','Round','Player_1','Player_2']], dtype='float')

df['Winner'].value_counts()

df['Court'] = df['Court'].map({'Indoor': 0, 'Outdoor': 1})
df['Best of']=df['Best of'].map({3:0, 5:1})

numeric_df = df[['Court','Best of','Rank_1','Rank_2','Pts_1','Pts_2','Odd_1','Odd_2']]


df['Date'] = pd.to_datetime(df['Date'])

df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day

date_df=df[['year','month','day']]

In [2]:
'''
def get_score_features(score):
    if not score or pd.isna(score):
        return {'won': 0, 'lost': 0, 'sets': 0, 'diff': 0}

    parts = score.split()
    won = 0
    lost = 0
    for p in parts:
        try:
            w, l = map(int, p.split('-'))
            won += w
            lost += l
        except:
            pass
    sets = len(parts)
    diff = abs(won - lost)
    return {'won': won, 'lost': lost, 'sets': sets, 'diff': diff}

features_df = df['Score'].apply(get_score_features).apply(pd.Series)
'''
X=pd.concat([numeric_df,encoded_df,date_df],axis=1)

In [3]:

y=df['player1_win']
X_train,X_test,y_train,y_test= train_test_split(X , y , test_size=0.2)

rfmodel = RandomForestClassifier(n_estimators=230,max_depth=20, random_state=42)

rfmodel.fit(X_train , y_train)
prediction=rfmodel.predict(X_test)

accuracy=accuracy_score(y_test,prediction)
print(f"The accuracy %  = {accuracy}")

The accuracy %  = 0.6853402017600343

In [4]:
df

,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,...,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2,Score,player1_win,year,month,day
0,Australian Hardcourt Championships,2000-01-03,International,1.0,Hard,1st Round,0.0,Dosedel S.,Ljubicic I.,Dosedel S.,...,77.0,-1.0,-1.0,-1.00,-1.00,6-4 6-2,1,2000,1,3
1,Australian Hardcourt Championships,2000-01-03,International,1.0,Hard,1st Round,0.0,Clement A.,Enqvist T.,Enqvist T.,...,5.0,-1.0,-1.0,-1.00,-1.00,3-6 3-6,0,2000,1,3
2,Australian Hardcourt Championships,2000-01-03,International,1.0,Hard,1st Round,0.0,Escude N.,Baccanello P.,Escude N.,...,655.0,-1.0,-1.0,-1.00,-1.00,6-7 7-5 6-3,1,2000,1,3
3,Australian Hardcourt Championships,2000-01-03,International,1.0,Hard,1st Round,0.0,Knippschild J.,Federer R.,Federer R.,...,65.0,-1.0,-1.0,-1.00,-1.00,1-6 4-6,0,2000,1,3
4,Australian Hardcourt Championships,2000-01-03,International,1.0,Hard,1st Round,0.0,Fromberg R.,Woodbridge T.,Fromberg R.,...,198.0,-1.0,-1.0,-1.00,-1.00,7-6 5-7 6-4,1,2000,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23287,Monte Carlo Masters,2008-04-25,Masters,1.0,Clay,Quarterfinals,0.0,Ferrer D.,Nadal R.,Nadal R.,...,2.0,2620.0,5455.0,6.00,1.12,1-6 5-7,0,2008,4,25
23288,Monte Carlo Masters,2008-04-25,Masters,1.0,Clay,Quarterfinals,0.0,Djokovic N.,Querrey S.,Djokovic N.,...,50.0,4725.0,710.0,1.05,10.00,6-4 6-0,1,2008,4,25
23289,Monte Carlo Masters,2008-04-26,Masters,1.0,Clay,Semifinals,0.0,Davydenko N.,Nadal R.,Nadal R.,...,2.0,3290.0,5455.0,6.00,1.12,3-6 2-6,0,2008,4,26
23290,Monte Carlo Masters,2008-04-27,Masters,1.0,Clay,The Final,0.0,Nadal R.,Federer R.,Nadal R.,...,1.0,5455.0,6425.0,1.44,2.75,7-5 7-5,1,2008,4,27
23291,Open Sabadell Atlántico 2008,2008-04-28,I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,2008,4,28

In [5]:
df['Winner'].value_counts()

Winner
Federer R.      515
Roddick A.      393
Hewitt L.       374
Moya C.         335
Ferrero J.C.    332
               ...
Lorenzi P.        1
Saoudi S.         1
Brands D.         1
Cipolla F.        1
Harrison R.       1
Name: count, Length: 567, dtype: int64